---
import {
  getPostsByPage,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
  getPostsByPage,
} from '../../../lib/notion/client.ts'
import Layout from '../../../layouts/Layout.astro'
import NoContents from '../../../components/NoContents.astro'
import ListPost from '../../../components/ListPost.astro'
import Pagination from '../../../components/Pagination.astro'
import BlogPostsLink from '../../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../../components/BlogTagsLink.astro'
import styles from '../../../styles/blog.module.css'

export async function getStaticPaths() {
  const numberOfPages = await getNumberOfPages()

  let params = []
  for (let i = 2; i <= numberOfPages; i++) {
	params.push({ params: { page: i.toString() } })
  }
  return params
}

const { page } = Astro.params

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPostsByPage(parseInt(page, 10)),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout title={`Posts ${page}/${numberOfPages}`} path={`/posts/page/${page}`}>
  <div slot="main" class={styles.main}>
	<header>
	  <h1 class="page-container">{page}/{numberOfPages} ページ</h1>
	</header>
	<div class="list">
	{
	  posts.length === 0 ? (
		<NoContents contents={posts} />
	  ) : (
		posts.map((post) => (
		<div class="post-wrapper" key={post.Slug}>
			<ListPost post={post} />
		  </div>
		))
	  )
	}
	</div>	
	<footer class="pagination">
		<Pagination
		currentPage={parseInt(page, 10)}
		numberOfPages={numberOfPages}
		/>
	</footer>
  </div>

  <div slot="aside" class={styles.aside}>
	<BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>
<style lang="scss">
	h1{
		padding: 6% 0 0;
		text-align: center;
		font-family: $font_title;
		font-size: 30px;
	}
	.list{
		padding: 6% 0;
		display: flex;
		flex-wrap:wrap;
		.post-wrapper{
			width: 31%;
			margin:0 3% 5% 0;
			display: flex;
			&:nth-of-type(3n){
				margin:0 0 5% 0;
			}
			@media #{$sp}{
				width: 100%;
				margin:0 0 5% 0;
			}
		}
	}
	footer.pagination{
		padding:4% 0;
	}
</style>
