---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              {tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style lang="scss">
	.blog-tags-link{
		h2{
			font-size:18px;
			font-weight:500;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li{
				display:inline-block;
				padding:0 20px 2% 0;
				a{
					display:block;
					line-height: 2;
					padding: 5px 10px;
					border-radius: 3px;
					color: rgb(28, 56, 41);
					letter-spacing:0.08em;
					transform: translateY(0);
					font-family:$font_title;
					font-weight:900;
					&:hover{
						text-decoration:none;
						transform: translateY(-5px);
					}
				}
			}
		}
	}
 
</style>
