---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import ListPost from '../components/ListPost.astro'


export interface Props {
  heading: string
  posts: Post[]
}

const { heading, posts } = Astro.props
---

<div class="blog-posts-link">
  <h2>{heading}</h2>
  {
	posts.length === 0 ? (
	  <NoContents contents={posts} />
	) : (
		<div class="list">
		{posts.map((post: Post) => (
			<div class="post-wrapper" key={post.Slug}>
				<ListPost post={post} />
			</div>

		))}
	  </div>
	)
  }
</div>

<style lang="scss">
	h2{
		font-family:$font_title;
		font-size: 20px;
		font-weight:900;
	}
	.list{
		padding: 3% 0 0;
		display: flex;
		flex-wrap:wrap;
		.post-wrapper{
			width: 31%;
			margin:0 3% 5% 0;
			display: flex;
			&:nth-of-type(3n){
				margin:0 0 5% 0;
			}
			@media #{$sp}{
				width: 100%;
				margin:0 0 5% 0;
			}
		}
	}
</style>