---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
/*
<PostTags post={nextPost} enableLink={false} />
		  <PostTags post={prevPost} enableLink={false} />
*/
---

<div class="post-relative-link">
	<div class="prev-post">
		{
			prevPost && (
			<a href={getPostLink(prevPost.Slug)} class="colored">
				<div>◀︎ {prevPost.Title}</div>
			</a>
			)
		}
	</div>
	<div class="goback">
		<a href={getNavLink('/')} class="text">一覧に戻る</a>
	</div>
	<div class="next-post">
		{
			nextPost && (
			<a href={getPostLink(nextPost.Slug)} class="colored">
				<div>{nextPost.Title} ▶︎</div>
				
			</a>
			)
		}
	</div>

</div>

<style lang="scss">
	.post-relative-link{
		padding: 3% 0;
		display: flex;
		justify-content: space-between;
		@media #{$sp}{
			flex-wrap:wrap;
			padding:10% 0 6%;
		}
		a{
			display: block;
			width: 100%;
			font-size: 14px;
			color:$linkcolor_base;
			color:$textcolor_base;
		}
		.prev-post{
			width: 40%;
			text-align: left;
			display: flex;
			@media #{$sp}{
				width:100%;
			}
		}
		.goback{
			width: 28%;
			text-align: center;
			display: flex;
			align-items: center;
			@media #{$sp}{
				width:100%;
				padding:3% 0;
			}
			a{
				width: 100%;
				border:1px solid $pager_active;
				padding: 1%;
				color: $pager_active;
				white-space:nowrap;
				&:hover{
					background-color: $pager_active;
					color:#fff;
					text-decoration:none;
				}
			}
		}
		.next-post{
			width: 40%;
			text-align: right;
			display: flex;
			@media #{$sp}{
				width:100%;
			}
		}
	}
</style>
