---
import "@fontsource/zen-maru-gothic";
import "@fontsource/zen-maru-gothic/900.css";
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import SearchModal from '../components/SearchModal.astro'
import SearchButton from '../components/SearchButton.astro'
import Profile from '../components/Profile.astro'

export interface Props {
	title: string
	description: string
	path: string
	ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
	getStaticFilePath('/src/images/default-og-image.png'),
	Astro.site
)

let coverImageURL: string
if (database.Cover) {
	if (database.Cover.Type === 'external') {
		coverImageURL = database.Cover.Url
	} else if (database.Cover.Type === 'file') {
		try {
			coverImageURL = filePath(new URL(database.Cover.Url))
		} catch (err) {
			console.log('Invalid DB cover image URL')
		}
	}
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
	try {
		customIconURL = filePath(new URL(database.Icon.Url))
	} catch (err) {
		console.log('Invalid DB custom icon URL')
	}
}

---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="max-image-preview:large">
		<meta charset="UTF-8">
		<meta name="generator" content={Astro.generator}>
		<title>{siteTitle}</title>
		<meta name="description" content={siteDescription}>
		<link rel="canonical" href={siteURL}>
		<meta property="og:url" content={siteURL}>
		<meta property="og:title" content={siteTitle}>
		<meta property="og:description" content={siteDescription}>
		<meta property="og:site_name" content={database.Title}>
		<meta property="og:image" content={ogImage || siteOGImage}>
		<meta name="twitter:title" content={siteTitle}>
		<meta name="twitter:description" content={siteDescription}>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content={ogImage || siteOGImage}>
		<link rel="shortcut icon" href={getStaticFilePath('/favicon.ico')}>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
		<!-- reset.css modern-css-reset -->
		<link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
	</head>
	<body>
		<GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
		<header class="header">
			<div class="site_name">
				<a href={getNavLink('/')}>
					{database.Title}
				</a>
			</div>
			<div class="search">
				<SearchButton />
			</div>
		</header>
		<main class="main">
			<div class="page_center">
				<div class="content">
					<slot name="main" />				
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="page_center">

				<div class="footer_nav">
					<slot name="aside" />
				</div>
				<Profile />
				<div class="footer_bottom">
					<div class="copyright">
						<p>&copy; { database.Title	}.</p>
					</div>
					<div class="poweredby">
						<span>Powered by&nbsp;</span>
						<a href="https://github.com/otoyo/astro-notion-blog" target="_blank">astro-notion-blog</a>
					</div>
			</div>
		</footer>

		<SearchModal />
		{
			ENABLE_LIGHTBOX && (
				<script src={getStaticFilePath('/scripts/fslightbox.js')} />
			)
		}
	</body>
</html>

<style lang="scss">
	.header{
		position:sticky;
		top:0;
		left:0;
		width:100%;
		padding:1% 2%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		background:$bg_body;
		z-index:500;
		@media #{$sp} {
			padding:3% $spsize;
		}
		.site_name{
			a{
				font-family: $font_title;
				font-weight: 900;
				font-size:36px;
				letter-spacing:0.12em;
				color:$textcolor_base;
				text-decoration:none;
				@media #{$sp} {
					font-size:30px;
				}
			}
		}
	}
	.footer{
		.footer_nav{
			padding:5% 0;
		}
		.footer_bottom{
			padding:3% 0 2%;
			font-size:12px;
			display:flex;
			justify-content:space-between;
		}

	}
</style>

<style lang="scss" is:global>
	body{
		background:$bg_body;
		-webkit-text-size-adjust: 100%;
		font-feature-settings : "palt";
		font-family: $font_family;
		font-weight: 400;
		font-size: 18px;
		font-optical-sizing: auto;
		font-style: normal;
		color:$textcolor_base;
		line-height: 1.8;
		letter-spacing:0.08em;
		@media #{$sp}{
			font-size: 14px;
		}
	}
	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
	@media #{$pc} {
		a[href^="tel:"] {
			pointer-events: none;
			color:$textcolor_base;
			text-decoration: none;
		}
	}
	*,:before,:after {
		box-sizing:border-box;
	}
	a{
		color:$linkcolor_base;
		transition:all 0.3s ease;
		text-decoration: none;
		&:hover{
			color:$linkcolor_hover;
			text-decoration:underline;
		}
	}
	.page_center{
		width: 100%;
		padding: 0 1.86% 0;
		@media #{$morepc}{
			width: $pagesize;
			margin:0 auto;
			padding: 0 0 0;
		}
		@media #{$sp}{
			padding: 0 $spsize;
		}
		@media #{$sp320}{
			padding: 0 4%;
		}
	}
</style>